@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8.5rem;
}

html::-webkit-scrollbar {
  width: 0.7rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #C40058;
  border-radius: 0.7rem;
}

#menu-btn {
  display: none;
}

.upper-case {
  text-transform: uppercase;
}

.container {
  padding: 2rem 9%;
}

.container-no-bottom {
  padding: 0 9%;
}

.heading {
  text-align: center;
  padding-bottom: 2rem;
}

.heading span {
  font-family: 'Satisfy', cursive;
  font-size: 3rem;
  color: #27ae60;
}

.heading h3 {
  font-size: 3rem;
  color: #130f40;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .7rem 1.8rem;
  font-size: 1.7rem;
  cursor: pointer;
  color: #fff;
  background: #27ae60;
  border-radius: .5rem;
}

.btn:hover {
  background: #130f40;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  height: 6rem;
}

.header .logo img {
  height: 100%;
}

.header .navbar {
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .navbar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.header .navbar__item a {
  margin: auto;
  font-size: 1.3rem;
  color: #666;
}

.header .navbar__item:hover {
  border-bottom: 0.3rem solid #C40058;
}

.header .icons {
  margin-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .icons__img {
  margin-right: 2rem;
}

#main-1 {
  position: relative;
  background-image: url(../img/home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 64.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main-1 p {
  margin: auto;
  margin-bottom: 0.2rem;
}

#main-1 .card-sale {
  position: relative;
  background-image: url(../img/cart-sale.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60rem;
  height: 47.8rem;
  border-radius: 1rem;
}

#main-1 .card-sale__subcard {
  height: 100%;
  padding: 4rem 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-1 .card-sale .subcard-title {
  font-size: 1.2rem;
  border: 0.2rem solid #243746;
  padding: 0.3rem 1.5rem;
  font-weight: bold;
  color: #243746;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 2rem;
}

#main-1 .card-sale h1 {
  text-align: center;
  padding: 2rem;
  font-size: 4.5rem;
  font-weight: bold;
  color: #243746;
}

.discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.discount--left {
  border-right: 0.1rem solid #243746;
  padding-right: 2rem;
}

.discount--right {
  padding-left: 2rem;
}

.discount .discount-main {
  font-size: 4.5rem;
  font-weight: bold;
  color: #243746;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discount .discount-sub {
  font-size: 2.5rem;
  font-weight: bold;
  color: #243746;
  margin-left: 1.2rem;
}

.discount .discount-text {
  font-size: 1.2rem;
  color: #243746;
}

.main-2--flex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
  gap: 1.5rem;
  padding: 0.3rem;
}

.main-2--flex .box {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  position: relative;
}

.main-2--flex .box__img img {
  height: 4.8rem;
}

#main-3 {
  background-image: url(../img/main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 53.6rem;
}

#main-4 {
  margin-top: -15rem;
}

#main-4 .card-4 {
  border-radius: 2rem;
  -webkit-box-shadow: 0 0 0.4rem 0.1rem #E0E2E2;
          box-shadow: 0 0 0.4rem 0.1rem #E0E2E2;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  padding: 4rem;
}

#main-4 .card-4__button {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main-4 .card-4 h1 {
  margin: 0 11rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #243746;
  margin-bottom: 4rem;
}

#main-4 .box-4 {
  text-align: center;
}

#main-4 .box-4 ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 1.5rem;
  gap: 2rem;
}

#main-4 .box-4 li {
  display: inline-block;
}

#main-4 .box-4__img {
  margin-bottom: 2rem;
}

#main-4 .box-4__img img {
  height: 10.7rem;
}

#main-4 .box-4__content {
  font-size: 1.7rem;
  font-weight: bold;
  color: #C40058;
}

#main-5 h1 {
  text-align: center;
  padding: 2rem;
  font-size: 4rem;
  font-weight: bold;
  color: #C40058;
}

#main-5 .card-5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 1.5rem;
}

#main-5 .card-5 .box-5__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main-5 .card-5 .box-5__sub {
  background-image: url(../img/icon/endy-product-bg-homepage-cross-sell-378x336.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  padding: 2rem;
  border-radius: 0.5rem;
  min-height: 35rem;
}

#main-5 .card-5 .box-5__content h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

#main-5 .card-5 .box-5__content p {
  font-size: 1.2rem;
}

#main-5 .card-5 .box-5__img {
  margin-top: 4rem;
}

#main-5 .card-5 .box-5__img img {
  max-width: 100%;
  max-height: 100%;
}

#main-5 .card-5 .box-5__img img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#main-5 .card-5 .box-5__content h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

#main-5 .card-5 .box-5__content p {
  font-size: 1.2rem;
}

#main-5 .card-5 .box-5__button {
  padding: 2.4rem 0;
  text-align: center;
}

#main-6 {
  background-image: url(../img/Ginhan-Pattern-left.svg);
  background-repeat: repeat;
}

#main-6 .bg-white {
  padding: 6rem 2rem;
  text-align: center;
  margin: auto;
  background-color: white;
  width: 70%;
}

#main-6 .bg-white h1 {
  font-size: 3rem;
  font-weight: bold;
}

#main-7 {
  background-color: #243746;
}

#main-7 h1 {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 3.2rem;
}

#main-7 .card-7 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 1.5rem;
}

#main-7 .card-7 .box-7 {
  margin: 0 0.8rem;
  background-color: white;
  padding: 3.5rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-7 .card-7 .box-7__content {
  color: #243746;
  margin-bottom: 2rem;
}

#main-7 .card-7 .box-7__content h3 {
  font-size: 2.2rem;
  margin-bottom: 4rem;
}

#main-7 .card-7 .box-7__content p {
  font-size: 1.6rem;
}

#main-7 .card-7 .box-7__owner {
  text-align: right;
}

#main-7 .main-7-btn {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.flex-3 {
  height: 100%;
  width: 30%;
}

.btn-violet {
  background-color: #C40058;
  border: 0.2rem solid #C40058;
  border-radius: 0.2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  padding: 1rem;
}

.btn-violet:hover {
  background-color: white;
  color: #C40058;
}

.btn-black {
  background-color: #243746;
  border: 0.2rem solid #243746;
  border-radius: 0.2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  padding: 1rem;
}

.btn-black:hover {
  background-color: white;
  color: #243746;
}

.btn-white {
  background-color: #243746;
  border: 0.2rem solid white;
  border-radius: 0.2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  padding: 1rem;
}

.btn-white:hover {
  background-color: white;
  color: #243746;
}

.btn-flex {
  margin-top: 3.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
    margin-left: 4rem;
    font-size: 4rem;
    line-height: 4.5rem;
  }
  #icons-text {
    display: none;
  }
  #navbar-header {
    display: none;
  }
  #hide-1, #hide-2 {
    display: none;
  }
  .main-2--flex {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 1.5rem;
  }
  #main-4 .box-4 ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(100%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 1.5rem;
  }
  #main-5 .card-5 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(100%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 1.5rem;
  }
  #main-7 .card-7 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(100%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 1.5rem;
  }
  .home .home-parallax-img {
    top: 0;
    right: 0;
    width: 130%;
  }
  .order form .flex .inputBox {
    width: 100%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .shopping-cart-container .cart-total .box {
    text-align: center;
  }
  .shopping-cart-container .cart-total .box .btn {
    width: 100%;
  }
  .home .content h3 {
    font-size: 3rem;
  }
  .home .content p {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=all.css.map */